---
export interface Props {
	title: string;
	href: string;
}
const { href, title, body } = Astro.props;
---

<li class="link-card">

	<h2>
		{title}
	</h2>
	<p>
		<slot />
	</p>

</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		flex-direction: column;
		flex-shrink: 1;
		padding: 1rem;
		margin: 1rem;
		background-image: var(--gradient);
		background-size: 400%;
		border-radius: var(--radius);
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		flex-basis: 30rem;
		/* -webkit-box-shadow: 5px 5px 10px -3px #000000;
		box-shadow: 5px 5px 10px -3px #000000; */
	}
</style>