<div class="contact centerContents"><a href="mailto:support@orbwalker.com">Support@Orbwalker.com</a><a
        href="https://twitter.com/OrbwalkerMedia">@OrbwalkerMedia</a>
    <p>juke#2188</p><br>
    <div>Made by <a href="https://twitter.com/LaggySon">LaggySon</a></div>
</div>


<style lang='scss'>
    .contact {
        flex-wrap: wrap;
        gap: 1rem;

        a {
            text-decoration: underline;
            color: black;
            font-size: 1rem;
        }

        br {
            width: 100vw;
        }
    }
</style>